name: Dockerize Backend and Push to Docker Hub

on:
  push:
    branches:
      - main
    paths:
      - 'backend/**'
      - '.github/workflows/dockerize-backend.yml'

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: docker build -t suwashmi/unimeet-auth:latest ./backend

      - name: Push Docker image
        run: docker push suwashmi/unimeet-auth:latest

